<!DOCTYPE html>
<html>
<head>
  <title>Welcome! Physical key authentication success</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css">
</head>
<body class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-4xl font-bold text-center mb-8">Welcome! Physical key authentication success</h1>
  <a href="{% url 'logout' %}" type="submit" 
            class="mb-2 w-64 py-2 px-4 bg-yellow-800 text-white rounded-lg text-center 
              hover:bg-yellow-700 focus:outline-none focus:shadow-outline-blue">
            Logout
  </a>
</body>
</html>
